body.a {
    background-color: lightblue;
}

nav.a {
    font-size: 100px;
    display: inline-block;
}

nav.b {
    font-size: 40px;
    color: blue;
    display: inline-block;
}

nav.base {
    font-size: 21px;
    display: inline-block;
}

a.a:link {
    text-decoration: none;
    color: blue;
}

a.a:hover {
    text-decoration: none;
    color: red;
    background-color: yellow;
}

p.a::first-line {
    color: red;
}

a.b:link {
    background-color: blue;
    color: white;
}

a.b:visited {
    background-color: white;
    color: blue;
}

img {
    position: relative;
    top: -220px;
    left: 330px;
}